<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfI9N7bCYjUimseZ0ICMM3bjBOaz7lMR0</string>
	<key>GCM_SENDER_ID</key>
	<string>984789156575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.void.smarttube.app</string>
	<key>PROJECT_ID</key>
	<string>smarttube-17471</string>
	<key>STORAGE_BUCKET</key>
	<string>smarttube-17471.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984789156575:ios:cf331b7791678d88dd1f6a</string>
</dict>
</plist>